.vscode/
python/test_experiments/*.STL
python/test_experiments/MeshFiles
python/test_experiments/__pycache__/*
python/test_experiments/.tmp/*
python/test_experiments/*.c3d
python/test_experiments/*.stl
DiffPD_doc/randomNotes.md
python/1segment_arm/optimized_actuations.npy
python/1segment_arm/data/*
python/1segment_arm/muscle_fit_multiple_20000_all/*
python/1segment_arm/muscle_fit_multiple_onlyExpansion/*
python/1segment_arm/muscle_fit_multiple_allData/*
python/fluid_interaction/*
python/1segment_arm/TrainedModels/trained_mapping.pth
python/test_experiments/cube/*.npy
python/1segment_arm/.tmp/*
python/1segment_arm/__pycache__/*
python/example/simple_forward.py
*.pbrt
*.error
*.csv
*.stl
cpp_old/*
*.txt
*.png
*.mp4
*.bin
*.pdf
.tmp/*
